.text {
    align-self: flex-start;
    margin: 0px 0px 15px 20px;
    
}

.heading {
    align-self: flex-start;
    margin: 0px 0px 0px 20px;
    font-weight: 900;
}

.goBackBtn {
    align-self: flex-end;
    margin: 10px;
    border-radius: 0px;
    background-color: rgb(211, 158, 251);
}