.nav {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .nav {
      justify-content: flex-start;
    }
}
  

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    margin: 10px;
    font-size: 20px;
}
