@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 800px;
  height: 100%;
  padding-top: 20px;
}

.background {
  background: url("./Assets/charlesdeluvio-Lks7vei-eAg-unsplash.jpg") no-repeat;
  background-size: cover;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  display: block;
    background-color: white;
    
    margin: 10px;
    padding: 20px;
}

input, textarea {
  height: 20px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  overflow-wrap: break-word;
}

button {
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  background-color: rgb(157, 213, 241);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.655);
  width: 100%;
  align-items: center;
}

#modal-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}